<%= turbo_frame_tag dom_id(article) do %>
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= action_name == 'show' || current_user.id != article.user.id ? article.title : article.title.truncate(5) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= action_name == 'show' || current_user.id != article.user.id ? article.content : article.content.truncate(5) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%= action_name == 'show' || current_user.id != article.user.id ? article.user.email : article.user.email.truncate(5) %>
  </p>

  <% if action_name != "show" && current_user.articles.include?(article) %>
    <%= link_to "Show this article", article, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= turbo_frame_tag 'edit_article' do %>
      <%= link_to "Edit this article", edit_article_path(article), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
  <% elsif action_name == 'show' %>
    <%= link_to 'Colapse', articles_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this article", article_path(article), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  <% else %>
    <% unless current_user.articles.include?(article) %>
      <%= render "articles/likes", article: article %>
    <% end %>
  <% end %>
  <hr class="mt-6">
<% end %>
